<p style="margin-left: 12px"><%= link_to "back", "/tasks" %></p>
<h1 style="margin-left: 12px">Task Details</h1>
<p style="text-decoration: underline; margin-bottom: 8px; margin-left: 12px"><%= "#{ @task.title }" %></p>
<p style="margin-left: 12px"><%= "#{ @task.description }" %></p>